@page
@model IndexModel
@{
    ViewData["Title"] = @L["HomePage_Heading"];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>@L["HomePage_LearnAbout"] <a href="https://docs.microsoft.com/aspnet/core">@L["HomePage_LinkText"]</a>.</p>
</div>
